
.gerador-div {
    padding: 3em 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gerador-div button{
    padding: 20px;
    font-family: "Pangolin", cursive;
    font-size: 25px;
    background-color: var(--darker);
    border: 0;
    color: var(--bright-text-color);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.7);
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 30px;
}

.gerador-div button:hover{
    color: #fff;
    transform: translateX(3px) translateY(3px);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.gerador-div h1{
    font-size: 40px;
    margin: 0;
}

.gerador-div h3{
    margin-bottom: 40px;
}

.img-gerador {
    max-height: 60vh;
}

#loading {
    max-width: 40vh;
}

.loader{
    display: none;
}

#img-container{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 760px) {
    .gerador-div h3{
        font-size: 16px;
    }

    .gerador-div h1{
        font-size: 30px;
    }
}
