
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root{
    --bg-color: rgb(201,144,132);
    --darker: rgb(177, 104, 88);
    --text-color: rgb(122,37,63);
    --contrast-color: rgb(109,25,9);
}

body{
    background-color: var(--bg-color);
    margin: 0;
}

/* Navbar CSS */

.navbar{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--darker);
    align-items: center;
}

ul{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 2rem;
    list-style: none;
}

.navbar ul li {
    display: inline;
    margin: auto;
    text-align: center;
    transition: 1s ease;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Pangolin", cursive;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--text-color);
    transition: 0.5s ease;
}

.navbar li:hover a{
    color: var(--bg-color);
}

.navbar li:hover{
    background-color: var(--darker);
}

#button-nav {
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
}

#button-nav span, #button-nav span:before, #button-nav span:after {
    width: 28px;
    height: 3px;
    background-color: var(--text-color);
    display: block;
    transition: .5s;
}

#button-nav span::before{
    content: "";
    transform: translateY(-9px);
}

#button-nav span:after{
    content: "";
    transform: translateY(6px);
}

#button-nav.toggler-open span{
    background-color: transparent;
}

#button-nav.toggler-open span:before{
    transform: translateY(0px) rotate(45deg);
}

#button-nav.toggler-open span:after{
    transform: translateY(-3px) rotate(-45deg);
}

/* Main section CSS */

.main-section{
    position: relative;
    top: 2em;
    background-color: #fff;
    margin: auto;
    width: 75%;
    z-index: 1;
    color: var(--text-color);
    font-family: "Pangolin", cursive;
}

p{
    text-align: justify;
    vertical-align: middle;
}

/* CSS da seção Sobre */

.about-container{
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
}

.about-text{
    display: block;
    height: max-content;
}

#profile{
    width: 10em;
    height: 10em;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    vertical-align: middle;
}

/* CSS do Slider */
.slider-container{
    display: block;
    width: 100%;
}

.slider{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.slider li{
    list-style: none;
    top: 0;
}

.slider img{
    width: 100%;
    margin: auto;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;
    position: relative;
    width: 75vw;
}

.slider li input:not(:checked) ~ img {
    display: none;
}

.slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 3;
}

.slider li input:checked ~ label {
    background-color: #fff;
}

.slider input{
    display: none;
}

.slider label{
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
    border-radius: 50%;
    transition: 0.3s ease;
}

.slider li:nth-child(1) label{
    left: 5px;
}

.slider li:nth-child(2) label{
    left: 25px;
}

.slider li:nth-child(3) label{
    left: 45px;
}

.slider li:nth-child(4) label{
    left: 65px;
}

@media screen and (max-width: 920px){
    #profile{
        width: 7em;
        height: 7em;
    }
}

@media screen and (max-width: 760px){
    .nav-container{
        max-width: 760px;
    }

    #button-nav{
        display: block;
    }

    .navbar ul{
        position: absolute;
        width: 100%;
        height: calc(50vh - 60px);
        left: 0;
        top: 60px;
        flex-direction: column;
        align-items: center;
        background-color: var(--darker);
        max-height: 0;
        overflow: hidden;
        transition: 1s ease;
        z-index: 2;
    }

    .navbar ul li {
        width: 100%;
        text-align: center;
    }

    .navbar ul li a{
        padding: 25px;
    }

    .navbar ul.open{
        max-height: 100vh;
        overflow: visible;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .main-section{
        width: 100%;
        top: 0;
    }

    .about-container{
        flex-direction: column;
        align-items: center;
    }

}
